// Colours; see https://design.wikimedia.org/style-guide/visual-style_colors.html

@darkness: 30%;

@base0: #fff;
@base20: darken( #f8f9fa, @darkness );
@base30: darken( #eaecf0, @darkness );
@base70: darken( #c8ccd1, @darkness );
@base80: darken( #72777d, @darkness );
@base90: darken( #54595d, @darkness );
@base100: #000;

@red: #ff1a00;
@red-bright: lighten( @red, 10% );
@red-dark: darken( @red, 10% );

@green: #bb7901;
@green-bright: lighten( @green, 10% );
@green-dark: darken( @green, 10% );

@blue: #00ccff;
@blue-bright: lighten( @blue, 10% );
@blue-dark: darken( @blue, 10% );

@background: @base90;
@text: @base0;

@link: @blue;
@link-visited: @blue-dark;

@link-red: @red;
@link-red-visited: @red-dark;

@link-ext: #37a;
@link-ext-visited: darken( @link-ext, 10% );

// Flair

// Fonts are chosen for consistent metrics, not necessarily overall prettiness.
@fonts-sans: 'Segoe UI', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lato', 'Liberation Sans', 'Noto Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
@fonts-serif: 'Linux Libertine', 'Times New Roman', 'Liberation Serif', 'Nimbus Roman', 'Noto Serif', 'Times', serif;
@fonts-mono: 'Menlo', 'Consolas', 'Monaco', 'Noto Mono', 'Nimbus Mono L', monospace;

@fonts: @fonts-sans;
@fonts-secondary: @fonts-serif;

@border: 0.2em;
@radius: 0.2em;
